# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# PyCharm
.idea/

# Tests
.pytest_cache/
.coverage

# Database
*.db
*.sqlite
*.sqlite3

# Alembic generated cache
alembic/__pycache__/

# Node / frontend
node_modules/
dist/

# OS
.DS_Store
Thumbs.db# created by virtualenv automatically
.venv/Lib
